<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/homepage.css">
    <link rel="stylesheet" href="/footer.css">
    <script src="/nav.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <title>Reviewed</title>
</head>
<body>
    <header>
        <div class="nav-first">
            <div>
                <a href="/homepage" class="logo">Reviewed</a>
            </div>

            <nav class="nav-explore">
                <a href="/explore">Restaurants</a>
                <a href="/explore">Cafés</a>
                <a href="/explore">Bars</a>
            </nav>
            
            <nav class="nav-icons">
                <a href="/profile">
                    <span class="material-symbols-outlined">
                        person
                    </span>
                </a>
                <button id="menu-toggle" type="button" class="icon-button">
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                </button>
            </nav>
        </div>

        <div class="nav-second">
            <nav class="nav-drop">
                <a href="/homepage">
                    <span class="material-symbols-outlined">
                        home
                    </span>
                    Home
                </a>
                
                <a href="/insert">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                    Add review
                </a>

                <a href="/explore">
                    <span class="material-symbols-outlined">
                        explore
                    </span>
                    Explore
                </a>
                
                <a href="/visits">
                    <span class="material-symbols-outlined">
                        apps
                    </span>
                    My visits
                </a>
                
                <a href="/saved">
                    <span class="material-symbols-outlined">
                        bookmark
                    </span>
                    Saved
                </a>
                        
                <a href="/friends">
                    <span class="material-symbols-outlined">
                        group
                    </span>
                    Friends
                </a>
            </nav>
        </div>
    </header>
    <main>
        <section class="about-us-section">
            <div class="about-us-stripe-solid">
                <img  class="about-us-stripe" src="../media/fotky/Gemini_Generated_Image_rmn3awrmn3awrmn3.png" alt="food composition">
                <article class="about-us">
                    <div class="about-us-text">
                        <h2>Reviewed</h2>
                        <p>Your culinary journey, recorded.</p>
                        </div>
                </article>
            </div>
            
        </section>
        
        <section class="reviews-section">
            <div class="reviews">
                <h2>Recent reviews from your friends</h2>

                <div class="reviews-container">
                    <button class="arrow">
                        <span class="material-symbols-outlined">
                            keyboard_arrow_left
                        </span>
                    </button>
                    <div class="grid-cards-review">
                        
                        <article class="card" th:each="r : ${seznamRecenzi}">
                            <div class="card-image-placeholder">
                                <img src="../media/fotky/ambitious-studio-rick-barrett-QjUY7auDzUQ-unsplash.jpg" alt="Cocktail at Bar Xyz">
                            </div>
                            
                            <div class="card-content">
                                <h3 th:text="${r.podnik?.nazev}">Bar Xyz</h3>
                                <div class="author-row">
                                    <p>By:</p>
                                    <h4 th:text="${r.obsah?.uzivatel?.prezdivka}">Joe Doe</h4>
                                </div>
                                <div class="rating">
                                    <th:block th:each="i : ${#numbers.sequence(1, 5)}">
                                        <span class="material-symbols-outlined"
                                              th:classappend="${i <= r.hodnoceni} ? 'filled' : ''">
                                            star
                                        </span>
                                    </th:block>
                                </div>
                                
                                <a href="/review" class="show-more" th:href="@{/review/{id}(id=${r.idObsahu})}">Show more</a>
                            </div>
                        </article>


                    </div>
                    <button class="arrow">
                        <span class="material-symbols-outlined">
                            keyboard_arrow_right
                        </span>
                    </button>
                </div>
            </div>
        </section>
        <section class="popular-section">
            
            <h2>Popular places near you</h2>
            
            <div class="grid-cards-popular">
                <article th:each="p : ${podnikyZDatabaze}">
                    <a class="popularcard" th:href="@{/place/{id}(id=${p.idPodniku})}">
                        <img src="/media/fotky/kateryna-senkevych-N7qAgJjCMss-unsplash.jpg" alt="cafe" >
                        <h3 th:text="${p.nazev}">Název podniku</h3>
                        <p th:text="${p.popis}">Popis podniku</p>
                    </a>
                </article>
            </div>

            <a href="/explore" class="popular-bottom">See more</a>

        </section>
    </main>
    <footer>
        <div class="footer-content">
            
            <div class="logo-container">
                <a href="/homepage" class="logo">Reviewed</a>
            </div>
            
            <div class="footer-col">
                <h4>Navigate</h4>
                <ul>
                    <li><a href="/explore">Explore</a></li>
                    <li><a href="/visits">My visits</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/insert">Add Review</a></li>
                    <li><a href="/friends">Friends</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Legal</h4>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div>
                <img src="../media/fotky/Gemini_Generated_Image_jsu2yejsu2yejsu2 (1).png" alt="food illustration">
            </div>
        </div>

        <div class="footer-bottom">
            <p>Daniela Kotková 1.WT 2025</p>
        </div>
    </footer>
</body>
</html>