<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/insert.css">
    <link rel="stylesheet" href="/footer.css">
    <script src="/nav.js" defer></script>
    <script src="/Insert.js" defer></script>
    <script src="/stitek.js" defer></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <title>Reviewed</title>
</head>
<body>
    <header>
        <div class="nav-first">
            <div>
                <a href="/" class="logo">Reviewed</a>
            </div>

            <h1 class="page-name">Add review</h1>

            <nav class="nav-explore">
                <a href="/explore">Restaurants</a>
                <a href="/explore">Cafés</a>
                <a href="/explore">Bars</a>
            </nav>

            <nav class="nav-icons">
                <a href="/profile">
                        <span class="material-symbols-outlined">
                            person
                        </span>
                </a>
                <button id="menu-toggle" type="button" class="icon-button">
                        <span class="material-symbols-outlined">
                            menu
                        </span>
                </button>
            </nav>
        </div>

        <div class="nav-second">
            <nav class="nav-drop">
                <a >
                        <span class="material-symbols-outlined">
                            home
                        </span>
                    Home
                </a>

                <a href="/insert">
                        <span class="material-symbols-outlined">
                            add
                        </span>
                    Add review
                </a>

                <a href="/explore">
                        <span class="material-symbols-outlined">
                            explore
                        </span>
                    Explore
                </a>

                <a href="/visits">
                        <span class="material-symbols-outlined">
                            apps
                        </span>
                    My visits
                </a>

                <a href="/saved">
                        <span class="material-symbols-outlined">
                            bookmark
                        </span>
                    Saved
                </a>

                <a href="/friends">
                        <span class="material-symbols-outlined">
                            group
                        </span>
                    Friends
                </a>
            </nav>
        </div>
    </header>
    <main>
        <section class="insert">
            <form th:action="@{/insert}" th:object="${novaRecenze}" method="POST" enctype="multipart/form-data">
                <div class="form-grid">
                    <div>
                        <label for="typPodnikuSelect">Select type of business</label>
                        <select id="typPodnikuSelect">
                            <option value="">-- Vyber typ --</option>
                            <option th:each="t : ${typyPodniku}"
                                    th:value="${t.idTypuPodniku}"
                                    th:text="${t.nazev}"></option>
                        </select>
                    </div>
                    <div>
                        <label for="podnikSelect">Name of the place</label>
                        <select th:field="*{podnik}" id="podnikSelect">
                            <option value="">-- Vyber podnik --</option>
                            <option th:each="p : ${podniky}"
                                    th:value="${p.idPodniku}"
                                    th:text="${p.nazev}"
                                    th:data-type="${p.typPodniku?.idTypuPodniku}"></option> </select>
                    </div>

                    <div>
                        <label for="visit" >When did you visit</label>
                        <input
                        type="date"
                        id="visit"
                        name="visit"
                        th:field="*{datumNavstevy}"
                        >
                    </div>

                    <div class="currency-container">
                        <div class="amount-input">
                        <label for="amount">How much did you spend</label>
                        <input
                        type="number"
                        id="amount"
                        name="amount"
                        placeholder="20"
                        min="0"
                        th:field="*{utrata}"
                        >
                        </div>
                        <p class="currency">Kč</p>
                    </div>

                    <div>
                        <label for="viditelnostSelect">Visibility</label>
                        <select th:field="*{obsah.viditelnost}" id="viditelnostSelect">
                            <option value="">-- Vyber viditelnost --</option>
                            <option th:each="v : ${viditelnosti}"
                                    th:value="${v.idViditelnosti}"
                                    th:text="${v.nazev}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tagInput">Add Tag (type to search):</label>
                        <input type="text" id="tagInput" list="tagSuggestions" placeholder="Start typing (e.g. Kl...)">

                        <datalist id="tagSuggestions">
                            <option th:each="s : ${vsechnyStitky}"
                                    th:value="${s.nazev}"
                                    th:data-id="${s.idStitku}"></option>
                        </datalist>

                        <div id="selectedTags" style="margin-top: 10px; display: flex; gap: 5px;"></div>

                        <div id="hiddenTagInputs"></div>
                    </div>
                </div>
                <div class="text-area-container">
                    <label for="review-text">Text</label>
                    <textarea
                    id="review-text"
                    name="review-text"
                    placeholder="Share your thoughts"
                    rows="5"
                    th:field="*{obsah.text}"
                    >
                    </textarea>
                </div>
               
                
                <fieldset class="star-rating">
                   <div class="stars">
                       <input type="radio" id="star5" th:field="*{hodnoceni}" value="5">
                       <label for="star5" title="5 stars">
                           <span class="material-symbols-outlined">star</span>
                       </label>

                       <input type="radio" id="star4" th:field="*{hodnoceni}" value="4">
                       <label for="star4" title="4 stars">
                           <span class="material-symbols-outlined">star</span>
                       </label>

                       <input type="radio" id="star3" th:field="*{hodnoceni}" value="3">
                       <label for="star3" title="3 stars">
                           <span class="material-symbols-outlined">star</span>
                       </label>

                       <input type="radio" id="star2" th:field="*{hodnoceni}" value="2">
                       <label for="star2" title="2 stars">
                           <span class="material-symbols-outlined">star</span>
                       </label>

                       <input type="radio" id="star1" th:field="*{hodnoceni}" value="1">
                       <label for="star1" title="1 stars">
                           <span class="material-symbols-outlined">star</span>
                       </label>
                    </div>
                </fieldset>
                    
                <div class="photo-upload-container">
                    <label for="photos">Photos</label>
                    <div class="file-upload-area">
                        <p>Drag here or choose from files</p>
                        <input
                        type="file"
                        id="photos"
                        name="photos"
                        multiple accept="image/*"
                        >
                    </div>
                </div>
               
                <button class="upload" type="submit">Upload</button>         
            </form>
        </section>
    </main>
    <footer>
        <div class="footer-content">
        
            <div class="logo-container">
                <a href="homepage.html" class="logo">Reviewed</a>
            </div>

            <div class="footer-col">
                <h4>Navigate</h4>
                <ul>
                    <li><a href="explore.html">Explore</a></li>
                    <li><a href="visits.html">My visits</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="insert.html">Add Review</a></li>
                    <li><a href="friends.html">Friends</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Legal</h4>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div>
                <img src="../media/fotky/Gemini_Generated_Image_jsu2yejsu2yejsu2 (1).png" alt="food illustration">
            </div>
        </div>

        <div class="footer-bottom">
            <p>Daniela Kotková 1.WT 2025</p>
        </div>
    </footer>
</body>
</html>