<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/profile.css">
    <link rel="stylesheet" href="/footer.css">
    <script src="/nav.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <title>Reviewed</title>
</head>
<body>
    <header>
        <div class="nav-first">
            <div>
                <a href="/" class="logo">Reviewed</a>
            </div>

            <h1 class="page-name">My profile</h1>

            <nav class="nav-explore">
                <a href="/explore">Restaurants</a>
                <a href="/explore">Cafés</a>
                <a href="/explore">Bars</a>
            </nav>

            <nav class="nav-icons">
                <a href="/profile">
                            <span class="material-symbols-outlined">
                                person
                            </span>
                </a>
                <button id="menu-toggle" type="button" class="icon-button">
                            <span class="material-symbols-outlined">
                                menu
                            </span>
                </button>
            </nav>
        </div>

        <div class="nav-second">
            <nav class="nav-drop">
                <a href="/homepage">
                            <span class="material-symbols-outlined">
                                home
                            </span>
                    Home
                </a>

                <a href="/insert">
                            <span class="material-symbols-outlined">
                                add
                            </span>
                    Add review
                </a>

                <a href="/explore">
                            <span class="material-symbols-outlined">
                                explore
                            </span>
                    Explore
                </a>

                <a href="/visits">
                            <span class="material-symbols-outlined">
                                apps
                            </span>
                    My visits
                </a>

                <a href="/saved">
                            <span class="material-symbols-outlined">
                                bookmark
                            </span>
                    Saved
                </a>

                <a href="/friends">
                            <span class="material-symbols-outlined">
                                group
                            </span>
                    Friends
                </a>
            </nav>
        </div>
    </header>
    <main>
        <section class="section-basic">
            <div class="basic-info">
                <div class="profile-photo">
                    <img src="/default_pfp.png" alt="Default profile picture">
                </div>
                
                <div class="bio">
                    <h3>Profile caption:</h3>
                    <h4 th:text="${uzivatel?.popisProfilu}">Alea iacta est</h4>
                </div>

                <div class="name">
                    <h2 class="first-name" th:text="${uzivatel?.krestniJmeno}">Jane</h2>
                    <h2 class="last-name" th:text="${uzivatel?.prijmeni}">Doe</h2>
                </div> 
            </div> 
        </section>
    <div class="content">
        <section class="private-info">
            <div class="info-grid">
                <p class="label">Email:</p>
                <p class="data" th:text="${uzivatel?.email}">example@gmail.com</p>
                <p class="label">Phone number:</p>
                <p class="data">+420 724 678 592</p>
                <p class="label">Country:</p>
                <p class="data">Czech republic</p>
                <p class="label">City:</p>
                <p class="data" th:text="${uzivatel?.mesto?.nazev}">Prague</p>
                <p class="label">Profile status:</p>
                <p class="data">Private</p>
             </div>
        </section>
        
        <section class="profile-settings">
            <h3>Profile settings</h3>
            <div class="profile-settings-grid">
                <button class="setting" type="button">Name</button>
                <button class="setting" type="button">Profile picture</button>
                <button class="setting" type="button">Profile caption</button>
                <button class="setting" type="button">Profile privacy</button>
            </div>
        </section>
    </div>
        <section class="account-settings">
            <h3>Account settings</h3>
            <div class="account-settings-grid">
                <button class="setting" type="button">Password</button>
                <button class="setting" type="button">Email</button>
                <button class="setting" type="button">Language</button>
                <button class="setting" type="button">Location</button> 
                <button class="setting" type="button">Currency</button>
                <button class="setting" type="button">Notifications</button>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            
            <div class="logo-container">
                <a href="homepage.html" class="logo">Reviewed</a>
            </div>
            
            <div class="footer-col">
                <h4>Navigate</h4>
                <ul>
                    <li><a href="explore.html">Explore</a></li>
                    <li><a href="visits.html">My visits</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="insert.html">Add Review</a></li>
                    <li><a href="friends.html">Friends</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Legal</h4>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div>
                <img src="/footer_img.png" alt="food illustration">
            </div>
        </div>

        <div class="footer-bottom">
            <p>Daniela Kotková 1.WT 2025</p>
        </div>
    </footer>
</body>
</html>